/*  
*/
body {
  padding: 0px;
  margin: 0px;
}

body {
  background: linear-gradient(rgba(95, 114, 189, 0.8), rgba(155, 35, 234, 0.7)),
    url("/img/bg.jpg");
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}

.logo {
  height: 200px;
}


.description {
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-control {
  background: transparent !important;
  color: #fff !important;
}

.fab {
    color: #fff;
    font-size: 25px;
  }